.input {
    // width: 100%;
    height: 36px;
    line-height: 18.2px;
    letter-spacing: 0.1px;
    padding: 10px;
    border: 1px solid #414144;
    border-radius: 6px;
    background-color: #202124;
    color: white;
    caret-color: #71717A;

    &::placeholder {
        color: #71717A;
    }
}