@use '../../styles/variables/variables.scss' as *;

.input {
    height: 36px;
    line-height: 18.2px;
    letter-spacing: 0.1px;
    padding: 10px;
    border: 1px solid $border;
    border-radius: 6px;
    background-color: $bg-main;
    color: white;
    caret-color: $text-placeholder;
    position: relative;
    z-index: 100;

    &::placeholder {
        color: $text-placeholder;
    }
}