@use 'scss-reset/reset';
@use 'variables/variables';
@use './variables/variables.scss' as *;

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: $bg-second;
    color: $white;
    font-size: 14px;
    line-height: 16.41px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    background-color: $bg-main;
    position: relative;
}

.content {
    width: calc(100vw - 234px);
    position: absolute;
    top: 47px;
    left: 234px;
    background-color: $bg-main;
}

.container {
    width: 100%;
    padding: 0 9px;
}