@use 'scss-reset/reset';
@use 'variables/variables';

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #27272A;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16.41px;
    box-sizing: border-box;
}

.wrapper {
    overflow-x: hidden;
    width: 100%;
    background-color: #27272A;
    position: relative;
}

.content {
    width: calc(100vw - 234px);
    position: absolute;
    top: 47px;
    left: 234px;
    background-color: #202124;
}

.container {
    width: 100%;
    // max-width: 100%;
    padding: 0 9px;
}